.borderend{
    border-right: 1px solid var(--borderblue);  
    height: 100vh;  
}
.box{
    height: 50px;
    border-bottom: 1px solid var(--borderblue);  
    padding: 45px 17px !important;
}

.borderbottom{
    padding-bottom: 3.6rem !important;
}

.box .bg-blue{
    background-color: var(--borderblue);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
img{

}
}

.maintitle{
    height:35px;
h2{
font-size: var(--sideheader);
font-weight: 700;
color: var(--blue);
} 
p{
    font-size: var(--sidedep);
    font-weight: 400;
    color: var(--blue);
    line-height: 1px;
}
}

.details{
    h3{
        font-size: 14px;
        letter-spacing: .5px;
        margin: 0 0 1px;
    }
    p{
        font-size: 12px;
        color: gray;
        margin: 0 0 10px;
    }
    }

    .professional{
        background: var(--success);
        border: none;
        border-radius: 8px;
        color: var(--text-success)!important;
        font-size: 12px;
        font-weight: 500;
        transform: translate(-9.1rem, 2.3rem);
    } 

    .nav-item{
        padding:  0 !important;
        &.active-link{
            background-color: #000;
        }
    }

    .tabstyle{
        span{
            font-size:12px;
            font-weight: 500;
            color: #333;
        }
        p{
            font-size:12px;
            font-weight: 500;
            color: grey;
            white-space: nowrap;
        }


    }