* {
    background-color: #e4effe; 
    margin: 0;  
    padding: 0;  
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.login-header{
    h2{
        color:#1c398e;
        font-weight:700;
    }
    p:nth-child(3){
        color: #1447e6;
        font-weight: 600;
    } 
    p:nth-child(4){
        color: #155dfc;
    }
    img{
        width:45px;
        height:45px;
        margin:auto;
    }
}
.login-container{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}