.login {
    background-color: #e4effe; 
    margin: 0;  
    padding: 0;  
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.login-header{
    h2{
        color:#1c398e;
        font-weight:700;
    }
    p:nth-child(3){
        color: #1447e6;
        font-weight: 600;
        margin:0;
    } 
    p:nth-child(4){
        color: #155dfc;
        margin-bottom: 5px;
    }
    img{
        width:45px;
        height:45px;
        margin:auto;
        background: #fffb0a;
    border-radius: 50%;
    padding: 5px;
    mix-blend-mode: luminosity;
    }
}
.login-container{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: 1px solid #bddaff;
    max-width: 375px; 
    width: 100%!important; 
    transition: .4s ease-in-out;
    
    h6{
        color: #1c398e !important;
        font-weight: 400 !important;
        font-size: 14px;
    }
    &:hover{
        box-shadow: 0 0 15px rgba(189,218,255, 0.2);
    }

    label, .form-control{
        font-size: 12px;
        font-weight: 600;
    }
}

.btn{
    font-size: 12px;
    font-weight: 500;
}

.input-group-custom {
    position: relative; 
}

.input-group-custom .form-control {
    padding-left: 2.5rem;
    background: #f3f3f5!important;
}

.input-group-custom .input-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: #155dfc !important;
}