<div class="login flex-column">
    <div class="login-header d-flex flex-column justify-content-center text-center">
        <img src="img/logo/logo.svg" alt="logo">
        <h2>SNF Water Science</h2>
        <p>ERP Procurement System</p>
        <p>Secure Role-Based Access</p>
    </div>

    <div class="login-container">
        <h6 class="mb-3 text-center">Sign In to Your Account</h6>

        <span class="mb-3 d-block">
            <label class="mb-1">Email</label>
            <div class="input-group-custom">
                <i class="bi bi-envelope input-icon"></i>
                <input type="email" class="form-control" placeholder="Enter your email" required>
            </div>
        </span> 

        <span class="mb-3 d-block">
            <label class="mb-1">Password</label>
            <div class="input-group-custom">
                <i class="bi bi-lock input-icon"></i>
                <input type="email" class="form-control" placeholder="Enter your password" required>
            </div>
        </span>
 
        <span class="py-3" (click)="signin()">
            <button class="btn btn-primary w-100">Sign In</button>
        </span>
    </div>

</div>